@import "src/assets/styles/variables";
@import "src/assets/styles/mixins/flexColumnCenter";
@import "src/assets/styles/mixins/scrollbarStyle";

.wrapper {
  height: 100%;
  grid-area: order;
  border: $primary-border;
  border-radius: $primary-border-radius;
  padding: $primary-padding;
  box-sizing: border-box;
  overflow: auto;
  @media screen and (max-width: 1200px) {
    min-height: 320px;
  }

  &::-webkit-scrollbar {
    width: 20px;
  }

  @include scrollbarStyle;


  .orderItem {
    display: flex;
    justify-content: space-between;
    border: $primary-border;
    border-radius: $primary-border-radius;
    padding: $primary-padding;
    box-sizing: border-box;
    overflow: hidden;
    margin-bottom: 10px;

    @media screen and (max-width: 1200px) {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    @media screen and (max-width: 920px) {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }

    @media screen and (max-width: 540px) {
      display: grid;
      grid-template-columns: 1fr;
      justify-items: center;
    }


    .orderImg {
      max-width: 280px;
      width: 100%;
      max-height: 180px;
      height: 100%;
      object-fit: cover;
      margin-right: 20px;
      @media screen and (max-width: 540px) {
        margin: 0;
      }
    }

    .productDescription {
      @include flexColumnCenter;
      justify-content: space-between;
      height: 180px;
      @media screen and (max-width: 1200px) {
        height: 100px;
      }

      .title {
        text-align: center;

        .productName {
          font-size: $fz-title;
          font-weight: $fw-title;
          margin: 20px 0 10px;
        }

        .productPrice {
          font-weight: 500;
        }
      }

      .amount {
        margin-bottom: 10px;
      }
    }
  }
}