@import "src/assets/styles/variables";

.layout {
  height: 100%;

  .content {
    height: 100%;
    display: grid;
    grid-template-rows: 60px auto;
    grid-template-columns: minmax(220px, 320px)  auto;
    grid-template-areas:
    "navApp navApp"
    "shopNav shopContent";
    gap: 16px;
    padding: $primary-padding;
    box-sizing: border-box;
  }
}