@import "src/assets/styles/variables";

@mixin shopNavigationLink( $fw) {
  display: block;
  padding: 18px 12px;
  font-weight: $fw;
  overflow: hidden;
  transition-duration: 0.3s;
  &:hover{
    background: #d7d9dc;
  }
}