@import "src/assets/styles/variables";

.orderForm {
  grid-area: form;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto auto;
  height: calc(100vh - 120px);
  grid-template-areas:
    "userData order"
    "userData order"
    "userData order"
    "confirmOrder confirmOrder";
  gap: 20px;

  .btnContainer {
    grid-area: confirmOrder;
    display: flex;
    justify-content: end;
    align-items: center;

    .totalPrice {
      margin-right: 120px;
      font-size: $fz-title;
      font-weight: 500;

    }

    .btn {
      width: 280px;
      height: 40px;
      border: $primary-border;
      border-radius: $primary-border-radius;
      font-size: $fz-title;
      font-weight: $fw-title;
      transition-duration: 0.5s;

      &:hover {
        cursor: pointer;
        background: #6d6d6d;
        color: white;
      }
    }
  }
}