@import "src/assets/styles/variables";
@import "src/assets/styles/mixins/navLink";

.wrapper {
  width: 100%;
  height: 60px;
  overflow: hidden;
  display: flex;
  justify-content: flex-start;
  padding: 6px;
  margin-bottom: 6px;
  box-sizing: border-box;
  grid-area: navApp;

  .navigation {
    width: 360px;
    display: flex;
    justify-content: space-around;
    align-items: center;

    .verticaLLive {
      border-left: 3px solid #000;
      height: 50px;
    }

    .link {
      @include navLink(#5b9bf6, none)
    }

    .activeLink {
      @include navLink(#104dad, 1px solid #104dad)
    }
  }
}
