@import "src/assets/styles/mixins/contentCenterFlex";
@import "src/assets/styles/variables";

.wrapper {
  @include contentCenterFlex;
  height: 100%;
  flex-direction: column;

  h3 {
    font-size: 72px;
    margin-bottom: 30px;
    font-weight: 700;
  }

  p {
    font-size: 20px;
    font-weight: $fw-title;
  }
}